#slots-page .slot-item {
    display: grid;
    grid-template-columns: auto 5em;

    width: auto;
    height: 30px;
    background: white;
    border-radius: 15px;
    margin: 16px;
    padding: 15px;
}

#slots-page .slot-item title {
    grid-column: 1;

    display: flex;
    align-items: center;
}

#slots-page .slot-item button {
    grid-column: 2;

    background: white;
    font-size: 20px;
    transition: color 0.1s ease-in-out;
    border: 0;
}

#slots-page .slot-item button:hover {
    color: #e64900;
}

#slots-page .add-slot {
    display: grid;
    grid-template-columns: auto 5em;
    width: auto;
    height: auto;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, .3);
    background: white;
    border-radius: 15px;
    margin: 16px;
    padding: 16px;
}

#slots-page input {
    grid-column: 1;
}

#slots-page .add-slot button {
    background: white;
    font-size: 20px;
    transition: color 0.1s ease-in-out;
    border: 0;
}

#slots-page .add-slot button:hover {
    color: #e64900;
}