#nav-timeline-page .timeline-picture {
    height: 130px;
}

.vis-item-content {

}

.vis-item {
    border: 0;
    border-color: transparent;
    background-image: linear-gradient(120deg, #db4500, #a5009dd7);
}

.timeline-item-no-end {
    outline-offset: -4.5px;
    outline-style: dotted !important;
    outline-width: 3px;
    outline-color:#db4500;

    background: transparent;
}

.vis-item.vis-selected:not(.timeline-item-no-end) {
    border-color:#db4500;
    background: transparent;
    background-image: linear-gradient(120deg, #db4500, #a5009dd7);
}

.vis-item.vis-selected {
    border-color:#db4500;
    background: transparent;
}

/* EditPanel */

#edit-pane-container {
    position: fixed;
    z-index: 3;
    padding-top: 100px;
    left: 0;
    visibility: hidden;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s;
}

#nav-timeline-page .container-visible {
    visibility: visible;
    opacity: 1;
}

#edit-pane {
    display: grid;
    grid-template-rows: repeat(7, min-content); 

    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    background-color: #fff;
    box-shadow: -4px  5px 5px rgba(0, 0, 0, .3);
    overflow-x: hidden;
    transition: width 0.3s;
    padding: 1em;
}

#edit-pane button {
    margin-top: 24px;
    justify-self: stretch;
}

#edit-pane #edit-pane-button-remove {
    margin-top: 8px;
    justify-self: stretch;
}

#nav-timeline-page .pane-opened {
    width: 300px;
}
