#timeline-page .timeline-picture {
    height: 130px;
}

.vis-item-content {
    background-image: linear-gradient(120deg, #db4500, #a5009d7f);
}

.vis-item {
    border: 0;
}

.vis-panel.vis-left {

}